body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDMzvCu2BpGG-D_ZLYPufemKGFl7uA--tYaQ&s);
    background-size: 1000px;
   
}

h1, h2, p{
    text-align: center;
    color: black;
}
.header{
    text-align: center;
}
.food , .dessert{
text-align: center;
font-family: 'Courier New', Courier, monospace;
color: black;
}
section{
  text-align: center;
}
  

.menu{
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    
}
hr{
   background-color: brown;
   border-color: brown;
   height: 2px;
}
href{
    text-align: center;
}
.footer{
    text-align: center;
}
